<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="textBox" action="/addstrain" method="post">
  <label for="strains">Noun</label>
  <input type="text" name="strain" placeholder="ex: UK Cheese, Bruce Banner, Cinderella 99">
</form>
<form class="textBox" action="/type" method="post">
  <label for="verb">Verb</label>
  <input type="text" name="type" placeholder="present tense - ex: concentrate, edible, tincture">
</form>
<form class="textBox" action="/addplace" method="post">
  <label for="adjective">Adjectives</label>
  <input type="text" name="place" placeholder="ex: home, park, in front of cops">
</form>
<h1>Type info and type enter to submit.</h1>
